@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-button {
  /* background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */
  background-image: url("/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
